/* Estilos generales */
body {
    font-family: "Sans-Serif Font";
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow-x: hidden; /* Evitar desbordamiento horizontal */
    background-image: url('../images/fondoAdmin.jpg'); /* Añadir la imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el área */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center center; /* Centrar la imagen */
    background-attachment: fixed; /* Fijar la imagen de fondo para que no se desplace con el scroll */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #061323;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Añadir posición relativa para gestionar z-index */
    z-index: 102; /* Asegurar que esté por encima del contenido del menú lateral */
}

.navbar h1 {
    margin: 0;
}

.navbar button {
    background-color: #6d87fc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.logo {
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Espacio entre el logo y el título */
}

/* Sidebar */
.sidebar {
    background-color: #061323;
    color: #061323;
    width: 250px;
    padding: 80px 20px 20px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; /* Fijar el borde inferior */
    overflow-y: auto; /* Agregar barra de desplazamiento vertical si es necesario */
    z-index: 101; /* Asegurar que esté por debajo del navbar y el footer */
    background-image: url('../images/fondoo.jpg'); /* Añadir la imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el área */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center center; /* Centrar la imagen */
    transition: all 0.3s ease; /* Añadir transición para suavizar los cambios */
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #061323;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #061323;
}
.sidebar img {
    display: block; /* Asegurar que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centrar horizontalmente la imagen */
    max-width: 100%; /* Ajustar el ancho máximo de la imagen para que se ajuste al contenedor */
    height: auto; /* Permitir que la altura se ajuste automáticamente para mantener la proporción */
    padding: 20px 0; /* Agregar un espacio alrededor de la imagen para separarla de los elementos de la lista */
}
/* Main Content */
main {
    margin-left: 250px;
    padding: 0px 20px 70px 20px;
}

/* Footer */
footer {
    background-color: #061323;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 102; /* Asegurar que esté por encima del contenido del menú lateral */
}

/* Secciones ocultas */
.hidden {
    display: none;
}

/* Modals */
section {
    display: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
    margin: 20px; /* Espacio entre secciones */
    position: relative;
}

section h2 {
    margin-top: 0;
}

section label {
    display: block;
    margin-bottom: 10px;
}

section input[type="text"],
section input[type="number"],
section input[type="email"],
section select {
    width: calc(100% - 20px); /* Ajustar al ancho del contenedor con margen */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

section button {
    background-color: #6d87fc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

section button:hover {
    background-color: #061323;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo de enlaces */
a {
    color: #ffd700; /* Color de enlace dorado */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #fff; /* Color de enlace al pasar el cursor */
}

/* Estilo de botones */
button {
    background-color: #ffd700;
    color: #061323;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
/* Estilo del contenedor principal */
#manageTablesSection {
    max-width: 400px; /* Reducir el ancho máximo */
    width: 100%;
    margin: 20px auto; /* Centrar horizontalmente */
    background: #dd6a1e; /* Color de fondo modificado */
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    color: #fff; /* Color del texto */
}

#manageTablesSection h2 {
    color: #343a40;
    margin-bottom: 20px;
}

#manageTablesSection h3 {
    color: #495057;
    margin-bottom: 15px;
}

/* Estilo de los botones */
button,
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px 5px;
    display: inline-block;
    min-width: 150px;
}

button:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

button.alt {
    background-color: #ffd700;
    color: #061323;
}

button.alt:hover {
    background-color: #061323;
    color: #ffd700;
}

/* Estilo de formularios */
form {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background: #f8f9fa;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
    margin-top: 15px; /* Espaciado adicional entre campos */
}

input[type="text"],
input[type="email"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #dad0ce;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #495057;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

textarea {
    resize: vertical;
    min-height: 100px;
}

/* Estilo del área de tablas */
#tablesArea {
    margin-top: 30px;
    padding: 20px;
    background: #efeae9;
    border-radius: 10px;
    text-align: left;
}

#tablesArea div {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

#tablesArea div:nth-child(even) {
    background: #f5f3f1;
}

/* Espaciado adicional para formularios */
form > *:not(label) {
    margin-top: 10px;
}
