/* Estilos generales */
body {
    font-family: "Sans-Serif Font";
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow-x: hidden; /* Evitar desbordamiento horizontal */
    background-image: url('../images/fondoAdmin.jpg'); /* Añadir la imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el área */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center center; /* Centrar la imagen */
    background-attachment: fixed; /* Fijar la imagen de fondo para que no se desplace con el scroll */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #061323;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Añadir posición relativa para gestionar z-index */
    z-index: 102; /* Asegurar que esté por encima del contenido del menú lateral */
}

.navbar h1 {
    margin: 0;
}

.navbar button {
    background-color: #6d87fc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.logo {
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Espacio entre el logo y el título */
}

/* Sidebar */
.sidebar {
    background-color: #061323;
    color: #061323;
    width: 250px;
    padding: 80px 20px 20px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; /* Fijar el borde inferior */
    overflow-y: auto; /* Agregar barra de desplazamiento vertical si es necesario */
    z-index: 101; /* Asegurar que esté por debajo del navbar y el footer */
    background-image: url('../images/fondoo.jpg'); /* Añadir la imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el área */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center center; /* Centrar la imagen */
    transition: all 0.3s ease; /* Añadir transición para suavizar los cambios */
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #061323;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #061323;
}
.sidebar img {
    display: block; /* Asegurar que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centrar horizontalmente la imagen */
    max-width: 100%; /* Ajustar el ancho máximo de la imagen para que se ajuste al contenedor */
    height: auto; /* Permitir que la altura se ajuste automáticamente para mantener la proporción */
    padding: 20px 0; /* Agregar un espacio alrededor de la imagen para separarla de los elementos de la lista */
}
/* Main Content */
main {
    margin-left: 250px;
    padding: 0px 20px 70px 20px;
}

/* Footer */
footer {
    background-color: #061323;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 102;
}

/* Hidden sections */
.hidden {
    display: none;
}

/* Forms */
form {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background: #f8f9fa;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
    margin-top: 15px;
}

form input[type="text"],
form input[type="email"],
form textarea,
form input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #dad0ce;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #495057;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus,
form input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Specific section styles */
#tablesArea div,
#clientsArea div,
#invoiceArea div {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: #fff;
    color: #495057;
}

#orderItemsContainer > div {
    margin-bottom: 10px;
}
