/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow-x: hidden; /* Evitar desbordamiento horizontal */
}

/* Navbar */
.navbar {
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Añadir posición relativa para gestionar z-index */
    z-index: 102; /* Asegurar que esté por encima del contenido del menú lateral */
}

.navbar h1 {
    margin: 0;
}

.navbar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    background-color: #555;
    color: #fff;
    width: 250px;
    padding: 80px 20px 20px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; /* Fijar el borde inferior */
    overflow-y: auto; /* Agregar barra de desplazamiento vertical si es necesario */
    z-index: 101; /* Asegurar que esté por debajo del navbar y el footer */
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #4CAF50;
}

/* Main Content */
main {
    margin-left: 250px;
    padding: 20px;
    padding-bottom: 100px;
}

.content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 20px; /* Espacio entre secciones */
    position: relative;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 102; /* Asegurar que esté por encima del contenido del menú lateral */
}

/* Secciones ocultas */
.hidden {
    display: none;
}

/* Estilos adicionales para botones y formularios */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
    width: calc(100% - 20px); /* Ajustar al ancho del contenedor con margen */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
