<section class= menu>
  <h1>Degusta nuestras delicias y logra encontrar el equilibrio entre calidad y precio</h1>
<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Item 1</h5>
      <p class="card-text">Descripcion de plato</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Categoria</li>
      <li class="list-group-item">Precio</li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Item 2</h5>
      <p class="card-text">Descripcion de plato</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Categoria</li>
      <li class="list-group-item">Precio</li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Item 3</h5>
      <p class="card-text">Descripcion de plato</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Categoria</li>
      <li class="list-group-item">Precio</li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt ="">
    <div class="card-body">
      <h5 class="card-title">Item 4</h5>
      <p class="card-text">Descripcion de plato</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Categoria</li>
      <li class="list-group-item">Precio</li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Item 5</h5>
      <p class="card-text">Descripcion de plato</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Categoria</li>
      <li class="list-group-item">Precio</li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Item 6</h5>
      <p class="card-text">Descripcion de plato</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Categoria</li>
      <li class="list-group-item">Precio</li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Item 7</h5>
      <p class="card-text">Descripcion de plato</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Categoria</li>
      <li class="list-group-item">Precio</li>
    </ul>
  </div>
</section>